body {
    margin-top: auto;
    margin-bottom: auto;

    /* background-color: #454; */
    /* background-image: url("nature.jpg") */
    /* background-repeat: no-repeat; */

    background: url("nature3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bar {
    width: 48px;
    /* background-color: #8e5f4f; */
    /* background: linear-gradient(90deg, #8e5f4f, #6e4f3f); */
    background: radial-gradient(#8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f);
}

.between-gap{
    display: flex;
    margin-top: 184px;
}

.circle-black {
    background: radial-gradient(#333, #333, #000, #333, #000, #333, #000);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 2;
    position: relative;
    right: 60px;
    margin-right: -60px;
}

.circle-white {
    background: radial-gradient(#fff, #fff, #ccc, #fff, #ccc, #fff, #ccc);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 2;
    position: relative;
    right: 60px;
    margin-right: -60px;
}

.triangle1-top {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #4c6359, #6c8379);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    display: inline-block;
    z-index: 1;
    /* position: absolute; */
}

.triangle1-bottom {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #9ea99a, #aec9aa);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: inline-block;
}

.triangle2-bottom {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #4c6359, #6c8379);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: inline-block;
}

.triangle2-top {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #9ea99a, #aec9aa);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    /* clip-path: polygon(0 1%, 100% 0, 55% 100%, 45% 100%); */
    display: inline-block;
    border-radius: 0px;
}

.board {
    position: absolute;
    margin-top: 29%;
    margin-left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 816px;
    height: 708px;

    justify-content: center;
    display: flex;
    /* margin-top: 30px; */
    /* margin-bottom: auto; */
    /*border: 24px solid;*/
    width: fit-content;
    border-image-slice: 1;
    background-color: #748b7c;

}

.left-side{
    position: absolute;
    float: left;
    left: 23px;
    top: 22px;
    z-index: 1000;

}

.right-side{
    position: absolute;
    float: left;
    left: 430px;
    top: 22px;
    z-index: 1000;
}

.border-gradient {
    border-image-source: radial-gradient(#6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f);
    /* background: radial-gradient(#8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f); */
}

@media only screen and (min-width: 1920px){

    .bar
    {
    width: 88px;
    /*background-color: #8e5f4f;*/
    /*background: linear-gradient(90deg, #8e5f4f, #6e4f3f);*/
    background: radial-gradient(#8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f);
    }

    #checker2
    {
        margin-top: 48px;
    }
    #checker3
    {
        margin-top: 96px;
    }
    #checker4
    {
        margin-top: 144px;
    }
    #checker5
    {
        margin-top: 192px;
    }

    .frame{
        background-image: url("board.png");
    }

    .circle-black {
        background: radial-gradient(#333, #333, #000, #333, #000, #333, #000);
        border-radius: 50%;
        width: 108px;
        height: 108px;
        z-index: 2;
        position: relative;
        right: 108px;
        margin-right: -108px;
    }

    .between-gap{
        margin-top: 326px;
    }
    

    .circle-white {
        background: radial-gradient(#fff, #fff, #ccc, #fff, #ccc, #fff, #ccc);
        border-radius: 50%;
        width: 108px;
        height: 108px;
        z-index: 2;
        position: relative;
        right: 108px;
        margin-right: -108px;
    }

    .triangle1-top {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #4c6359, #6c8379);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        display: inline-block;
        z-index: 1;
        /*position: absolute;*/
    }

    .triangle1-bottom {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #9ea99a, #aec9aa);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        display: inline-block;
    }

    .triangle2-bottom {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #4c6359, #6c8379);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        display: inline-block;
    }

    .triangle2-top {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #9ea99a, #aec9aa);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        /*clip-path: polygon(0 1%, 100% 0, 55% 100%, 45% 100%);*/
        display: inline-block;
        border-radius: 0px;
    }

    .left-side{
        position: absolute;
        float: left;
        left: 40px;
        top: 40px;
        z-index: 1000;
    
    }

    .right-side{
        position: absolute;
        float: left;
        left: 770px;
        top: 40px;
        z-index: 1000;
    }

    .board
    {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    justify-content: center;
    display: flex;
    width: 1456px;
    height: 1268px;
    /*margin-top: 30px;*/
    /*margin-bottom: auto;*/
    /*border: 40px solid;*/
    width: fit-content;
    border-image-slice: 1;
    background-color: #748b7c;

    }

    .border-gradient
    {
    border-image-source: radial-gradient(#6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f);
    /*background: radial-gradient(#8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f);*/
    }
}