body {
    margin-top: auto;
    margin-bottom: auto;

    /* background-color: #454; */
    /* background-image: url("nature.jpg") */
    /* background-repeat: no-repeat; */

    background: url("nature3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.credits-div{
    width: fit-content;
    background-color: #298e46;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 14px;
}

.goldenninja{
    font-size: 15px;
    cursor: pointer;
    color: gold;
    font-weight: bold;
}

.goldenninja:hover{
    font-size: 16px;
    transition: 0.25s;
    color: #EEBC1D;
}

.silverninja{
    font-size: 15px;
    cursor: pointer;
    color: silver;
    font-weight: bold;
}

.silverninja:hover{
    font-size: 16px;
    transition: 0.25s;
    color: #afafaf;
}

.between-gap{
    display: flex;
    margin-top: 184px;
}

.circle-black {
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    display: none;
    background: radial-gradient(#333, #333, #000, #333, #000, #333, #000);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 2;
    position: relative;
    right: 60px;
    margin-right: -60px;
}

.circle-shift5, .circle-shift5_bottom {
  font-weight: bold;
  font-family: Verdana;
  font-size: 20pt;
  /*display: flex;*/
  line-height: 108px;
}

.circle-shift2 {
top: 60px;
}
.circle-shift3 {
top: 120px;
}
.circle-shift4 {
top: 180px;
}
.circle-shift5 {
top: 240px;
}

.circle-shift1_bottom{
top: 180px;
}
.circle-shift2_bottom {
top: 120px;
}
.circle-shift3_bottom {
top: 60px;
}
.circle-shift4_bottom {
top: 0px;
}
.circle-shift5_bottom {
top: -60px;
}

.circle-white {
    display: none;
    line-height: 60px;
    font-size: 20px;
    background: radial-gradient(#fff, #fff, #ccc, #fff, #ccc, #fff, #ccc);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 2;
    position: relative;
    right: 60px;
    margin-right: -60px;
}

.triangle1-top {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #4c6359, #6c8379);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    display: inline-block;
    z-index: 1;
    /* position: absolute; */
}

.triangle1-bottom {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #9ea99a, #aec9aa);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: inline-block;
}

.triangle2-bottom {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #4c6359, #6c8379);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: inline-block;
}

.triangle2-top {
    width: 60px;
    height: 240px;
    background: linear-gradient(90deg, #9ea99a, #aec9aa);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    /* clip-path: polygon(0 1%, 100% 0, 55% 100%, 45% 100%); */
    display: inline-block;
    border-radius: 0px;
}

.board {
    display: inline-block;
    position: absolute;
    margin-top: 29%;
    margin-left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 816px;
    height: 708px;

    justify-content: center;
    display: flex;
    /* margin-top: 30px; */
    /* margin-bottom: auto; */
    /*border: 24px solid;*/
    width: fit-content;
    border-image-slice: 1;
    background-color: #748b7c;

}

.left-side{
    position: absolute;
    float: left;
    left: 23px;
    top: 22px;
    z-index: 1000;

}

.right-side{
    position: absolute;
    float: left;
    left: 430px;
    top: 22px;
    z-index: 1000;
}

#divDebug{
    display: inline-block;
    margin-top: 20px;
}

#inpGuess{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    vertical-align: middle;
    border: 2px dashed #298e46;
    outline: none;
}

#inpGuess:focus{
    border: 2px solid #298e46;
}

#pipResult{
    color: #298e46;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
}

.button-reuse {
  vertical-align: middle;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-reuse:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-reuse:hover {
  background-color: #2c974b;
}

.button-reuse:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-reuse:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-reuse:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

@media only screen and (min-width: 1920px){

    
    #divDebug{
        margin-top: 0;
    }

    .frame{
        background-image: url("board.png");
    }

    .circle-black {
        display: none;
        background: radial-gradient(#333, #333, #000, #333, #000, #333, #000);
        border-radius: 50%;
        width: 108px;
        height: 108px;
        z-index: 2;
        position: relative;
        right: 108px;
        margin-right: -108px;
    }

    .circle-shift2{
	top: 108px;
    }
    .circle-shift3{
	top: 216px;
    }
    .circle-shift4{
	top: 324px;
    }
    .circle-shift5{
	top: 432px;
    }

    .circle-shift1_bottom{
    top: 324px;
    }
    .circle-shift2_bottom {
    top: 216px;
    }
    .circle-shift3_bottom {
    top: 108px;
    }
    .circle-shift4_bottom {
    top: 0px;
    }
    .circle-shift5_bottom {
    top: -108px;
    }

    .circle-shift5, .circle-shift5_bottom{
        font-weight: bold;
        font-family: Verdana;
        font-size: 20pt;
        /*display: flex;*/
        line-height: 108px;
    }

    .between-gap{
        margin-top: 325px;
    }
    

    .circle-white {
        display: none;
        background: radial-gradient(#fff, #fff, #ccc, #fff, #ccc, #fff, #ccc);
        border-radius: 50%;
        width: 108px;
        height: 108px;
        z-index: 2;
        position: relative;
        right: 108px;
        margin-right: -108px;
    }

    .triangle1-top {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #4c6359, #6c8379);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        display: inline-block;
        z-index: 1;
        /*position: absolute;*/
    }

    .triangle1-bottom {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #9ea99a, #aec9aa);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        display: inline-block;
    }

    .triangle2-bottom {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #4c6359, #6c8379);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        display: inline-block;
    }

    .triangle2-top {
        width: 108px;
        height: 432px;
        background: linear-gradient(90deg, #9ea99a, #aec9aa);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        /*clip-path: polygon(0 1%, 100% 0, 55% 100%, 45% 100%);*/
        display: inline-block;
        border-radius: 0px;
    }

    .button-reuse {
        vertical-align: middle;
        appearance: none;
        background-color: #2ea44f;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        padding: 10px 6px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
      }

      #inpGuess:focus{
        border: 2px solid #298e46;
      }

    .left-side{
        position: absolute;
        float: left;
        left: 39px;
        top: 40px;
        z-index: 1000;
    
    }

    .right-side{
        position: absolute;
        float: left;
        left: 769px;
        top: 40px;
        z-index: 1000;
    }
    #divDebug{
        margin-top: 10px;
    }   


    .board
    {
    margin-top: 20px;
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    justify-content: center;
    display: flex;
    width: 1456px;
    height: 1268px;
    /*margin-top: 30px;*/
    /*margin-bottom: auto;*/
    /*border: 40px solid;*/
    width: fit-content;
    border-image-slice: 1;
    background-color: #748b7c;

    }

    .border-gradient
    {
    border-image-source: radial-gradient(#6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f, #8e5f4f);
    /*background: radial-gradient(#8e5f4f, #6e4f3f, #8e5f4f, #6e4f3f);*/
    }
}